<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>

    <body>
        <nav>
            <div class="navElemContainers flexlogo">
                <img src="{{url_for('static',filename='../static/resources/heart.png')}}">
                <div class="logo">MedAware</div>
            </div>
            <div class="navElemContainers middlenav">
                <div class="navItem"><a href="{{url_for('main')}}">Home</a></div>
                <div class="navItem"><a href="#blog">Blogs</a></div>
                <div class="navItem"><a href="{{url_for('aboutus')}}">About Us</a></div>
                <div class="searchContainer ">
                    <p class="searchlabel">Search</p>
                    <div class="searchbtn"></div>
                </div>

            </div>
            <div class="navElemContainers endnav">
                <div class="button"><a href="{{url_for('logout')}}">Log Out</a></div>
            </div>
        </nav>

        
        <div class="home">
            <div class="subcontainer text">
                <div class="headerline">
                    Check your symptoms and explore potential diseases through our <span>MAGICAL</span> ML trained model.
                </div>
                <div class="divider_thick"></div>
                <div class="subtext">Welcome to our advanced Disease Diagnosis Portal powered by Machine Learning (ML) trained models. Our cutting-edge technology harnesses the power of artificial intelligence to provide accurate and reliable disease predictions based on your symptoms. By inputting your symptoms into our intuitive interface, our ML models analyze the data and generate personalized results, helping you identify potential diseases and conditions.
                    <br><br>
                    Through our models,A user can detect any imbalance condition in his/her heart and liver. A user can also detect wheather he/she is having Covid19 and Diabetes. We also check some rear mental disease like ASD(Autsim Spectrum Disorder) which is not easily recongnized.
                    <br><br></div>

            </div>
            <div class="subcontainer">
                <img class="homeimage"
                    src="{{url_for('static',filename='../static/resources/Blood test-cuate.svg')}}">
            </div>
        </div>

        <div class="diseaseCardContainer">
            <div class="headerlinesmall">Have a Deeper dive into our individual health checkup program</div>
            <div class="flex2">
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/Cardiologist-rafiki-2.svg')}}" alt="">
                    <div class="deseaseCardDescription">Heart Disease Predictor</div>
                    <div class="deseaseCardDetail">Welcome to our Heart Disease Predictor, a state-of-the-art tool designed to assess your risk of heart disease using advanced machine learning algorithms. </div>
                    <div class="diseases">
                        <div class="buttonColour red"><a href="{{url_for('heart')}}">Check Heart</a></div>
                    </div>
                </div>
                <div class="blackdivider"></div>
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/Liver.svg')}}" alt="">
                    <div class="deseaseCardDescription">Liver Condition Checker</div>
                    <div class="deseaseCardDetail">Welcome to our Liver Condition Checker, a powerful tool designed to help you identify potential liver diseases and conditions using advanced machine learning algorithms.</div>
                    <div class="diseases">
                        <div class="buttonColour brown"><a href="{{url_for('liver')}}">Check Liver</a></div>
                    </div>
                </div>
            </div>

            <div class="flex2">
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/Feaver.svg')}}" alt="">
                    <div class="deseaseCardDescription">Covid Detector</div>
                    <div class="deseaseCardDetail">Welcome to our COVID Detector, an advanced tool leveraging machine learning technology to assist in identifying potential cases of COVID-19. </div>
                    <div class="diseases">
                        <div class="buttonColour cgreen"><a href="{{url_for('covid')}}">Check COVID</a></div>
                    </div>
                </div>
                <div class="blackdivider"></div>
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/Asd.svg')}}" alt="">
                    <div class="deseaseCardDescription">Autisum Spectrum Disorder</div>
                    <div class="deseaseCardDetail">Welcome to our Autism Spectrum Disorder (ASD) Detector, a powerful tool designed to assist in the early identification of potential ASD traits in individuals.</div>
                    <div class="diseases">
                        <div class="buttonColour purple"><a href="{{url_for('ASD')}}">Check ASD</a></div>
                    </div>
                </div>
            </div>
            <div class="flex2">
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/diabetes.svg')}}" alt="">
                    <div class="deseaseCardDescription">Diabetes Predictor</div>
                    <div class="deseaseCardDetail">Welcome to our Diabetes Predictor, an advanced tool designed to assess your risk of developing diabetes using intelligent algorithms and analysis. </div>
                    <div class="diseases">
                        <div class="buttonColour blue"><a href="{{url_for('diabetes')}}">Check Diabetes</a></div>
                    </div>
                </div>
                <div class="blackdivider"></div>
                <div class="diseasecard ">
                    <img class="diseaseCardImage" src="{{url_for('static',filename='../static/resources/Loading.svg')}}" alt="">
                    <div class="deseaseCardDescription">More Dignostics Models Under Work!</div>
                </div>
            </div>
           
            
        </div>
        <div class="dividergradient">

        </div>
       

        <div class="newsletter" id="blog">
            <div class="headerlinesmall">Medical Journals and Articles.</div>
            <div class="newscontainer">

                <div class="newscardbig">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Doctors-cuate.svg')}}">
                    </div>
                    <div class="newstile">Here's how 10 popular diets scored for heart health...
                    </div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a href="https://www.heart.org/en/news/2023/04/27/heres-how-10-popular-diets-scored-for-heart-health"target="_blank">Read</a></div>
                </div>

                <div class="newscardsmall">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Medicine-amico.svg')}}">
                    </div>
                    <div class="newstilesmall">New Research Establishes How and Why Western Diets High in Sugar and Fat Cause Liver Disease...</div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a
                            href="https://www.sciencedaily.com/releases/2023/03/230315132445.htm"
                            target="_blank">Read</a></div>
                </div>

                <div class="newscardbig">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Doctors-pana.svg')}}">
                    </div>
                    <div class="newstile">Risk of venous thromboembolism in non-respiratory and respiratory presentations of COVID-19 in critically ill patients....</div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a
                            href="https://iars.org/covid-19-newsletter/"
                            target="_blank">Read</a></div>
                </div>

                
            </div>
            <div class="newscontainerlower">

                <div class="newscardsmall">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Medicine-bro.svg')}}">
                    </div>
                    <div class="newstilesmall">Discrimination linked to higher risk of death, particularly from cardiovascular disease...</div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a
                            href="https://www.heart.org/en/news/2023/04/05/discrimination-linked-to-higher-risk-of-death-particularly-from-cardiovascular-disease"
                            target="_blank">Read</a></div>
                </div>

                <div class="newscardbig up30">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Doctors-pana.svg')}}">
                    </div>
                    <div class="newstile">Incurable Liver Disease May Prove Curable... </div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a
                            href="https://www.sciencedaily.com/releases/2023/01/230105083044.htm"
                            target="_blank">Read</a></div>
                </div>

                <div class="newscardsmall">
                    <div class="imagecard">
                        <img src="{{url_for('static',filename='../static/resources/Medicine-amico.svg')}}">
                    </div>
                    <div class="newstilesmall">What do India’s SMEs need as they recover from the pandemic?...</div>
                    <!-- <div class="newsdesc">subtext...</div> -->
                    <div class="buttonsmall"><a
                            href="https://idronline.org/article/leadership-talent/what-do-indias-smes-need-as-they-recover-from-the-pandemic/"
                            target="_blank">Read</a></div>
                </div>

            </div>
        </div>
        <footer>
            <div class="footer-content">
                <h3>MedAware.co</h3>
                <h4>"Stay informed, stay ahead - let our disease check guide you through life's uncertain thread."</h4>
            </div>
            <div class="footer-bottom">
              <p>copyright &copy;2023. designed by <span><a href="https://github.com/Gaurav07076">Gaurav, </a></span><span><a href="https://github.com/samyak269"> Samyak, </a></span><span><a href="https: //github.com/The-Prithwiraj06">PRITHWI, </a ></span><span><a href="https://github.com/sahilkrRaj">SAHIL &</a ></span> <span><a href="https://github.com/ShubhamKumarSingh123">SHUBHAM</a ></span></p>
            </div>
        
        
        </footer>
          <script type ="text/javascript"> 
            window.addEventListener("scroll",function(){ 
                var nav = document.querySelector("nav"); 
                nav.classList.toggle("sticky",window.scrollY > 0); 
            }) 
          </script>
    </body>
    </body>

</html>